*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, arial;
}

body {
    background-color: black;
    /* Webkit */
    background-image:
       -webkit-gradient(radial, 50% 50%, 2, 50% 50%, 40, from(white), color-stop(0.1, rgba(248,255,128,.5)), to(transparent)),
       -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(white), color-stop(0.1, rgba(255,186,170,.4)), to(transparent)),
       -webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(rgba(255,255,255,.9)), color-stop(0.05, rgba(251,255,186,.3)), to(transparent)),
       -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(rgba(255,255,255,.4)), color-stop(0.03, rgba(253,255,219,.2)), to(transparent));
    /* Firefox */
    background-image:
       -moz-radial-gradient(circle, #FFFFFF 2px, rgba(248,255,128,.5) 4px, transparent 40px),
       -moz-radial-gradient(circle, #FFFFFF 1px, rgba(255,186,170,.4) 3px, transparent 30px),
       -moz-radial-gradient(circle, rgba(255,255,255,.9) 1px, rgba(251,255,186,.3) 2px, transparent 40px),
       -moz-radial-gradient(circle, rgba(255,255,255,.4), rgba(253,255,219,.2) 1px, transparent 30px);
    /* Background images size */
    background-size: 550px 550px, 350px 350px, 250px 270px, 220px 200px;
    /* Background images position*/
    background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
       /* Animation */
   animation-name: movement;
   animation-duration: 5s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   /* Firefox */
   -moz-animation-name: movement;
   -moz-animation-duration: 5s;
   -moz-animation-timing-function: linear;
   -moz-animation-iteration-count: infinite;
   /* Webkit */
   -webkit-animation-name: movement;
   -webkit-animation-duration: 5s;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: infinite;
}
@keyframes movement
{
   from {
         background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
   }
   to {
         background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
   }
}
@-moz-keyframes movement
{
   from {
         background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
   }
   to {
         background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
   }
}
@-webkit-keyframes movement
{
   from {
         background-position: 0 0, 30px 60px, 130px 270px, 70px 150px;
   }
   to {
         background-position: -550px 0, -320px 60px, -120px 270px, -150px 150px;
   }
}

tr{
    background: #16181a;
}

.menuButton{
    background: #383737;
    box-shadow:
        0 5px 5px #222121, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4),
        inset 0px 2px 9px rgba(255,255,255,0.2),
        inset 0 -2px 9px rgba(0,0,0,0.2);

    width: 150px;
    padding: 15px;
    margin: 10px;
    color: white;
    text-align: center;
    cursor: pointer;
}
.leftCorner {
    border-radius: 5px 5px 5px 35px;
    padding-right: 25px;
}
.rightCorner {
    border-radius: 5px 5px 35px 5px;
    padding-right: 25px;
}
.menuButton:hover{
    box-shadow:
        0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4),
        inset 0px 2px 15px rgba(255,255,255,0.4),
        inset 0 -2px 9px rgba(0,0,0,0.2);
}
.menuButton:active {
    position: relative;
    top: 7px;
    box-shadow:
        0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4),
        inset 0px 2px 15px rgba(255,255,255,0.4),
        inset 0 -2px 9px rgba(0,0,0,0.2);
}
#game{
    border-collapse: collapse;
    margin: 2% auto 0;
}
#menu{
    display: flex;
    justify-content: center;
    
}
td.cell{
    width: 20px;
    height: 20px;
    border: 1px dotted #eee;
    border-collapse: collapse;
}
.food{
    background: #00d021;
}
.snakeBody{
    background: #e5e5e5;
}
.snakeHead{
    background: #9b0013;
}
.brick{
  background-color: blue;
}
.disabled {
    background: #632f2f;
    box-shadow:
        0 5px 5px #4b2626, 0 9px 0 #3f2323, 0px 9px 10px rgba(0,0,0,0.4),
        inset 0px 2px 9px rgba(255,255,255,0.2),
        inset 0 -2px 9px rgba(0,0,0,0.2);
}
.disabled:hover{
    background: #632f2f;
    box-shadow:
        0 5px 5px #4b2626, 0 9px 0 #3f2323, 0px 9px 10px rgba(0,0,0,0.4),
        inset 0px 2px 9px rgba(255,255,255,0.2),
        inset 0 -2px 9px rgba(0,0,0,0.2);
}
.disabled:active{
    top:0;
    box-shadow:
        0 5px 5px #4b2626, 0 9px 0 #3f2323, 0px 9px 10px rgba(0,0,0,0.4),
        inset 0px 2px 9px rgba(255,255,255,0.2),
        inset 0 -2px 9px rgba(0,0,0,0.2);
}


@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
.sign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto 0;
    width: 20%;
    height: 20%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    letter-spacing: 2px;
    left: 50%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 3em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }